.w-backgroundvideo-backgroundvideoplaypausebutton:focus-visible {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: #3b79c3;
}

.hero-home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #242528;
  text-align: center;
}

.hero-p {
  font-family: Montserrat, sans-serif;
}

.button {
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px solid #000;
  background-color: #f6e03c;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  color: #242528;
  font-weight: 700;
  text-align: center;
}

.button:hover {
  background-color: #e4c900;
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.button:active {
  background-color: #cfb705;
}

.button.home-p {
  margin-top: 4%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.button.long {
  padding-right: 63px;
  padding-left: 63px;
}

.body {
  background-image: url('../images/yellow-flower-1.png');
  background-position: 50% 0%;
  background-size: auto;
}

.wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 100vh;
  min-height: 100vh;
  min-width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.big {
  font-family: 'Vast Shadow', sans-serif;
  color: #000;
  font-size: 1.1em;
  line-height: 0.9;
}

.img-a {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.img-a.sunday {
  background-image: url('../images/Cocktail-Amy-Shamblen.png');
  background-position: 50% 50%;
  background-size: cover;
}

.img-a.flower {
  background-image: url('../images/yellow-flower-1.png');
  background-position: 50% 50%;
  background-size: 387px;
}

.lottie-animation {
  position: absolute;
  left: auto;
  top: 14%;
  right: 34%;
  bottom: auto;
  width: 40%;
}

.jumbo {
  font-family: 'Vast Shadow', sans-serif;
  color: #000;
  font-size: 2.1em;
  line-height: 0.8;
}

.background-video {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.text-abs {
  position: absolute;
  color: #fff;
}

.text-abs.pad {
  padding-right: 6%;
  color: #fff;
}

.invite-names {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8em;
  font-weight: 600;
}

.img-m-i {
  height: 33.33vh;
  padding: 17px;
  background-image: url('../images/WhatsApp-Image-2022-04-24-at-12.46.30.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.rings-img {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-2 {
  background-color: #7a7a7a;
  font-family: 'Vast Shadow', sans-serif;
  font-size: 100%;
}

.grid-form {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 30%;
  height: 100vh;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-style: solid;
  border-width: 0px 2px;
  border-color: #000;
}

.text-block {
  margin-bottom: 40px;
  font-family: 'Vast Shadow', sans-serif;
  font-size: 100%;
}

.bee {
  position: absolute;
  left: auto;
  top: 6%;
  right: 16%;
  bottom: auto;
  z-index: 99;
}

.grid-invite {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 66.6666vh;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.bg {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100%;
  padding: 6%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 3em;
  line-height: 1.1;
}

.bg.is--black-h {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #242528;
}

.bg.is--yellow {
  background-color: #f6e03c;
  background-image: url('../images/Rings.png');
  background-position: 0px 0px;
  background-size: auto;
}

.bg.is--yellow.is-2g {
  background-image: none;
}

.bg.is--black {
  background-color: #242528;
}

.bg.is--black.is-3g {
  overflow: hidden;
}

.bg.is--black.h {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.bg.is--t {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #e7e1bf;
  color: #000;
  text-align: center;
}

.button-wrap-mobile {
  display: none;
  width: 100%;
  height: 8vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.top {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: #f6e03c;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.videowrap {
  position: relative;
  padding: 0%;
}

.subtitle {
  margin-top: 3%;
  margin-bottom: 3%;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 0.5em;
  line-height: 1.4;
  font-weight: 400;
}

.text-block-2 {
  font-family: 'Vast Shadow', sans-serif;
  color: #000;
}

.text-block-3 {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 1em;
}

@media screen and (max-width: 991px) {
  .body {
    background-position: 50% 0%;
  }

  .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .content {
    width: 100%;
    height: 92vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .img-m-i {
    height: 25.33vh;
  }

  .button-2 {
    font-size: 60%;
  }

  .grid-form {
    display: none;
    width: 100%;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .button-wrap-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .body {
    background-position: 50% 0%;
  }

  .bg {
    font-size: 2.3em;
  }
}

@media screen and (max-width: 479px) {
  .heading {
    font-size: 28px;
  }

  .button.long {
    min-width: 90vw;
    padding-right: 60px;
    padding-left: 60px;
  }

  .body {
    background-position: 50% 0%;
  }

  .content {
    height: 90vh;
  }

  .lottie-animation {
    top: 5%;
    right: 39%;
  }

  .img-m-i {
    height: 23.33vh;
  }

  .button-2 {
    font-size: 50%;
  }

  .grid-form {
    display: none;
    height: 65vh;
    padding-bottom: 20px;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    border-right-width: 0px;
    border-left-width: 0px;
  }

  .grid-invite {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr 0.5fr 0.75fr 1.75fr;
    grid-template-columns: 1fr 1fr 0.5fr 0.75fr 1.75fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .bg {
    font-size: 1.9em;
  }

  .bg.is--black-h {
    font-size: 2.5em;
  }

  .button-wrap-mobile {
    overflow: hidden;
    height: 10vh;
  }
}

#w-node-_9af67f16-87d7-d349-4df1-f785c1079cdb-ee1b15cf {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9af67f16-87d7-d349-4df1-f785c1079ce2-ee1b15cf {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
}

#w-node-_9af67f16-87d7-d349-4df1-f785c1079cec-ee1b15cf {
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9af67f16-87d7-d349-4df1-f785c1079cf1-ee1b15cf {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9af67f16-87d7-d349-4df1-f785c1079cf5-ee1b15cf {
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9af67f16-87d7-d349-4df1-f785c1079cf9-ee1b15cf {
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9af67f16-87d7-d349-4df1-f785c1079cfb-ee1b15cf {
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9af67f16-87d7-d349-4df1-f785c1079d01-ee1b15cf {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 479px) {
  #w-node-_9af67f16-87d7-d349-4df1-f785c1079cec-ee1b15cf {
    -ms-grid-column: span 4;
    grid-column-start: span 4;
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }

  #w-node-_9af67f16-87d7-d349-4df1-f785c1079cf1-ee1b15cf {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }

  #w-node-_9af67f16-87d7-d349-4df1-f785c1079cf5-ee1b15cf {
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }

  #w-node-_9af67f16-87d7-d349-4df1-f785c1079cf9-ee1b15cf {
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
    -webkit-box-ordinal-group: 10000;
    -webkit-order: 9999;
    -ms-flex-order: 9999;
    order: 9999;
  }

  #w-node-_9af67f16-87d7-d349-4df1-f785c1079cfb-ee1b15cf {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-_9af67f16-87d7-d349-4df1-f785c1079d01-ee1b15cf {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }
}

